<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">BNADE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/itemQuery.jsp">物价查询</a></li>
                <li><a href="/wowtoken.jsp">时光徽章</a></li>
                <li><a href="/auctionQuantity.jsp">服务器排行</a></li>
                <li><a href="/download.jsp">下载</a></li>
                <li><a href="/ownerQuery.jsp">玩家物品</a></li>
                <li><a href="/page/auction/s810101">101圣物</a></li>
            </ul>
        </div>
    </div>
</nav>