<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="Keywords" content="魔兽,魔兽世界,军团再临,leg,魔兽7.0,魔兽世界插件,WOW,时光徽章,物价查询,物价,拍卖行,AH,物品价格,价格走势,价格波动,BNADE"/>
    <meta name="Description" content="魔兽世界物价查询,历史价格查询,AH数据库,魔兽世界拍卖行最低价,魔兽世界拍卖行物品价格查询,全服务器价格比较"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="header"></div>
<div class="container-fluid">
    <div class="container">
        <p id="msg"></p>
        <div id="wowtokenBuyContainer"></div>
        <div id="wowtokenHistoryContainer"></div>
        <p>说明:</p>
        <ul>
            <li>数据来源<a href="https://wowtoken.info">https://wowtoken.info</a></li>
        </ul>
    </div>
</div>
<div th:replace="footer"></div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/highcharts/4.2.7/highstock.js"></script>
<script src="//cdn.bootcss.com/highcharts/4.2.7/highcharts-more.js"></script>
<script src="//cdn.bootcss.com/highcharts/4.2.7/modules/solid-gauge.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/wowtoken.js}"></script>
</body>
</html>
